*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
}

:root {
  --mainColor: rgb(0, 157, 255); 

  --darkCard: rgb(18, 18, 18);

  --CardColor: rgb(26, 26, 26);
  --borderColor:rgb(51, 51, 51);

  --mainColorDark: rgb(0, 130, 210);
}

body{
    height:auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.adminBody{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.containerAdmin{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 40px;
  overflow: hidden;
  margin-left: 240px;
  position: relative;
}
@media(max-width:649px){
  .containerAdmin{
    margin-left: 0px;
  }
  .containerAdmin h1{
    margin-top: 60px;
    margin-bottom: -20px;
    text-align: center;
  }
}
.containerStatistici{
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 36px;
}
.cardStatistici{
  width: 400px;
  height: 450px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--CardColor);
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  padding: 12px;
}
h2{
  font-size: 28px;
}

@media(max-width:649px){
  .containerStatistici{
    display: flex;
    flex-direction: column;
  }
  .cardStatistici{
    width:100%;
    height: 450px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: var(--CardColor);
    border: 1px solid var(--borderColor);
    border-radius: 12px;
    padding: 12px;
  }
}



/* Loading Overlay */

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);  
  backdrop-filter: blur(6px);     
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;           
}

/* Spinner */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.25);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* Animatia */
@keyframes spin {
  to { transform: rotate(360deg); }
}
