.bodyAboutMe{
    background-color: rgb(0, 0, 0);
    color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.bodyAboutMe h2{
    font-size: clamp(32px,4vw,44px);
    font-weight: 750;
    position: relative;
    margin-bottom: 32px;
}
.bodyAboutMe h2 strong{
    position: relative;
    font-weight: 750;
    color: var(--mainColor);
}
.containerText{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.bodyAboutMe p{
    width: 90%;
    font-size: clamp(18px,2vw,24px);
    line-height: 1.5;
}
.containerImg{
  position: relative;  
  width: 90%;       
  height: 400px;
  overflow: hidden;
  border-radius: 6px;
  margin: 24px 0 48px 0;
}
.containerImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media(min-width:700px){
    .bodyAboutMe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
    }
    .bodyAboutMe h2{
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 0px;
    }
    .containerImg{
        max-width: 500px;
        position: relative;  
        width: 100%;       
        height: 550px;
        overflow: hidden;
        border-radius: 6px;
        margin:0 auto;
        margin-bottom: 24px;
        grid-row: 2;
        grid-column: 2/3;
    }
    .containerText{
        grid-row: 2;
        width: 90%;
        margin-left: 40px;
    }
}