.beforeAfterSection {
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 4/3;
  grid-column: 1/3;
  height: 400px;
}

.beforeAfterSection img {
  pointer-events: none;
  user-select: none;
}

.sliderBefore,
.sliderAfter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderAfter {
  clip-path: inset(0 50% 0 0);
}

.sliderLine {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transform: translateX(-50%);
  z-index: 10;
}

.sliderButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  background: black;
  border-radius: 50%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  transition: background 0.2s;
}

.sliderButton:hover {
  background: #333;
}