.beforeBody{
    width: 100%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:  var(--gradientColor);
    gap: 24px;
    padding: 32px 0;
}
.beforeBody::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-image: linear-gradient(to bottom, black, transparent);
    z-index: 1;
}
.beforeBody::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-image: linear-gradient(to top, black, transparent);
    z-index: 1;
}
.backgroundDots{
    height: 100%;
    width: 100%;
}
.title{
    color: white;
    font-weight: 750;
    font-size: 28px;
    width:90%;
    text-align: center;
    border-radius: 6px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
}
.title span{
    color: var(--mainColor);
}
.containerBefore{
    width: 96%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 500px;
    position: relative;
    z-index: 20;
}
.cardBefore{
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px 0;
}
.cardBefore .titluBefore{
    color: white;
    font-size: 20px;
    margin-left: 8px;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 12px;
}
.clientImg {
    border-radius: 100%;
}
.cardBefore .obiective{
    color: white;
    font-size: 18px;
    margin-left: 8px;
    display: flex;
    width: 100%;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: 2px;
    padding: 2px 8px;
    border-radius: 6px;
    background: var(--gradientColor);
    width: max-content;
    font-weight: 550;
    height: 44px;
}
.cardBefore .obiective .obiectiv{
    display: flex;
    align-items: center;
    gap: 6px;
}
.cardBefore .recenzie{
    color: white;
    text-align: center;
    grid-column: 1/3;
    font-size: 16px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.endingQuate{
    margin-left: auto;
}
.hrLine{
    background-color:grey;
    height: 1.25px;
    border-radius: 4px;
    margin: 24px 0;
}