.beforeBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:  var(--gradientColor);
    gap: 12px;
    margin-bottom: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.beforeBody::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    z-index: 1;
}
.beforeBody::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-image: linear-gradient(to top, black, transparent);
    z-index: 1;
}
.backgroundDots{
    height: 100%;
    width: 100%;
}
.title{
    color: white;
    font-weight: 750;
    font-size: clamp(28px,3vw,36px);
    width:90%;
    text-align: center;
    border-radius: 6px;
    margin-top: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 8px;
}
.title span{
    color: var(--mainColor);
}
.descriereBeforeAfter{
    color: white;
    font-size: clamp(18px,2vw,22px);
    width: 90%;
    text-align: center;
    font-weight: 550;
    margin-bottom: 24px;
    display: none;
}
.containerBefore{
    width: 96%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 500px;
    position: relative;
    z-index: 20;
}
.cardBefore{
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px 0;
}
.cardBefore .titluBefore{
    color: white;
    font-size: 22px;
    margin-left: 8px;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
}

.clientCircle{
    height: 38px;
    width: 38px;
    border-radius:6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradientColor);
}
.cardBefore .obiective{
    color: white;
    font-size: 18px;
    margin-left: 8px;
    display: flex;
    width: 100%;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: 2px;
    padding: 2px 8px;
    border-radius: 6px;
    background: var(--gradientColor);
    width: max-content;
    font-weight: 650;
    height: 44px;
}
.cardBefore .obiective .obiectiv{
    display: flex;
    align-items: center;
    gap: 6px;
}
.cardBefore .recenzie{
    color: white;
    text-align: center;
    grid-column: 1/3;
    font-size: 16px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    font-style: italic;
}
.cardBefore .recenzie p{
    padding: 0px 4px;
    font-weight: 500;
}
.endingQuate{
    margin-left: auto;
}
.hrLine{
    background-color:rgba(128, 128, 128, 0.5);
    height: 1.25px;
    border-radius: 4px;
    margin: 24px 0;
}

@media(min-width:750px){
    .containerBefore{
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        margin-bottom: 20px;
    }
    .hrLine{
        display: none;
    }
    .beforeBody::before{
        display: none;
    }
    .beforeBody::after{
        display: none;
    }
    .descriereBeforeAfter{
        margin-bottom: 24px;
    }
    .cardBefore .recenzie p{
        padding: 0px 2px;
        font-weight: 550;
    }
}