.wrapper {
  padding-bottom: 32px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(125px);
  opacity: 0;
  transition: all 750ms ease-in-out;
  --card-width: 250px;
  --card-gap: 16px;
  --image-count: 7; 
  margin-top: 40px;
  --scroll-width: calc((var(--card-width) + var(--card-gap)) * var(--image-count));
}

.wrapper.show{
    transform: translateY(0);
    opacity: 1;
}

.title {
  font-size: clamp(24px,3vw,32px);
  font-weight: 750;
  color: white;
}
.title span{
  color: var(--mainColor);
}

.scroller {
  overflow: hidden;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.track {
  display: flex;
  gap: var(--card-gap);
  margin-top: 24px;
  width: max-content; 
  animation: scrollLeft 36s linear infinite;
}

.scroller:hover .track {
  animation-play-state: paused;
}

.reverse {
  animation-name: scrollRight;
}

.imageWrapper {
  position: relative;
  width: var(--card-width);
  height: 450px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #333; 
  background: #0d0d0d;
  transition: border 250ms ease;
}

.imageWrapper:hover {
    border: 2px solid #3b82f6; 
}
.sliderImg{
  object-fit: cover;
  height: 100%;
  width: 100%;
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
  100% {
    transform: translateX(0);
  }
}

@media(min-width:750px){
  .wrapper{
      --card-width: 325px;
        margin-top: 80px;
  }
}