.container {
  position: relative;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  max-width: 80rem; 
  overflow: hidden;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
transform: translateY(40px);
  opacity: 0;
  transition: all 450ms ease-in-out;
}
.container.show{
    transform: translateY(0);
    opacity: 1;
}

.textWrapper {
  position: relative;
  z-index: 20;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textType{
  font-size: 2rem;    
  font-weight: 700; 
  line-height: 1.2;    
  color: white;         
  text-align: center;  
  margin-bottom: 1.5rem; 
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem; /* md:text-4xl */
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 3.75rem; /* lg:text-6xl */
  }
}

.highlight {
  position: relative;
  z-index: 20;
  display: inline-block;
  background-color: rgba(59, 130, 246, 0.4); /* bg-blue-500/40 */
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(14, 165, 233); /* decoration-sky-500 */
  text-decoration-thickness: 6px;
  text-underline-offset: 16px;
  backdrop-filter: blur(4px);
}

.subtitle {
  position: relative;
  z-index: 20;
  max-width: 42rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 90%;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1rem; /* md:text-base */
  }
}

.buttons {
  position: relative;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.primaryBtn {
  border-radius: 0.375rem;
  background:var(--gradientColor);
  color: white;
  padding: 8px 16px;
  font-size:20px;
  font-weight: 750;
  transition: background-color 0.2s;
}

.primaryBtn:hover {
  background-color: rgb(3, 105, 161);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.dark .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.marquee {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
