.heroBody{
  height: 90vh;
  position: relative;
}

.heroSection{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}
.heroSection h1{
    font-size: clamp(20px,3vw,40px);
    font-weight: 750;
    text-align: center;
    width: 95%;
    line-height: 1.4;
    margin-top: -40px;
}
.heroSection h1 span{
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;   
  font-weight: 900;
}
.heroSection h1 strong {
  position: relative;
  font-weight: 900;
  color: white;
  z-index: 1;
}

.heroSection h1 strong::after {
  content: "";
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -4px;
  height: 100%;
  background: #009dff;
  opacity: 0.9;
  border-radius: 10px;
  z-index: -1;
  filter: blur(5px);
}
.heroSection .cta{
    background-image: var(--gradientColor);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 750;
    transition: transform 250ms ease-in-out;
}
.heroSection .cta:hover{
  transform: scale(1.001) translateY(-4px);
}

@media(min-width:750px){
  .heroSection .cta{
    padding: 12px 24px;
    font-size: 26px;
  }
  .heroBody{
    height: 98vh;
  }
}

.marquee{
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.725);
}

.dark .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}