.bodyPachete{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
    margin-bottom: 32px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#pachete{
}
.bodyPachete .titluSection{
    color: white;
    font-size: clamp(28px,3vw,36px);
    text-align: center;
    font-weight: 750;
    width: 80%;
    transform: translateY(25%);
    opacity: 0;
    transition: all 450ms ease-in-out;
}
.bodyPachete .titluSection.show{
    transform: translateY(0);
    opacity: 1;
}
.infoPachete{
    width: 90%;
    color: white;
    background-color: var(--CardColor);
    border: 1px solid var(--borderColor);
    padding: 6px;
    gap: 4px;
    border-radius: 12px;
    text-align: center;
    transform: translateY(25%);
    opacity: 0;
    transition: all 450ms ease-in-out;
    font-weight: 550;
    font-size: clamp(16px,2vw,18px);
}
.infoPachete.show{
    transform: translateY(0);
    opacity: 1;
}
.infoPachete div{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    margin-top: 4px;
}
.infoPachete .link{
    text-decoration:underline;
}

.containerPachete{
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    width: 100%;
}
.card{
  width: 90%;
  border-radius: 12px;
  background-color: var(--CardColor);
  display: flex; 
  flex-direction: column;
  gap: 0px; 
  position: relative;
  z-index: 0;
  transform: translateY(15%);
  opacity: 0;
  transition: all 450ms ease-in-out;
}
.card.show{
    transform: translateY(0);
    opacity: 1;
}
.card:hover{
    box-shadow: 0 0 15px var(--glow-color);
    transform: scale(1.01);
    border: none;
}
.iconCard{
    width: max-content;
    position: relative;
    z-index: 2;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--CardColor);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-bottom: 12px;
}

.contentWrapper{
  padding: 12px;
  display: flex; 
  flex-direction: column;
  overflow: hidden; 
  gap: 0px;
  border-radius: 12px;
  position: relative;
  height: 100%;
  z-index: 90;
}
.pachetInactiv{
    filter: grayscale(2) blur(1px);
}

/* Border colorat */
.contentWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
      140deg,
      var(--glow-color, rgba(0,255,140,0.5)),
      transparent 60%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

/* Glow col»õuri */
.contentWrapper::after {
  content: "";
  position: absolute;
  inset: -40px;
  background:
    radial-gradient(40% 40% at top left,
      var(--glow-color, rgba(0,255,140,0.4)), transparent),
    radial-gradient(40% 40% at bottom right,
      var(--glow-color, rgba(0,255,140,0.4)), transparent);
  filter: blur(45px);
  z-index: 0;
  pointer-events: none;
}


.card .bestValue{
--f: .5em; /* control the folded part */
  color: black;
  font-weight: 650;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
  transform-origin: 0% 100%;
background: linear-gradient(45deg, #ffd633, #ff9900);
  z-index: 99;
}
.card .titlu{
    font-weight: 750;
    color: white;
    font-size: 24px;
    text-align: left;
    z-index: 999999;
}
.card .pret{
    font-size: 28px;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    z-index: 2;
}
.card .durata{
    font-size: 22px;
    font-weight:700;
    color: white;
    z-index: 2;
}
.card .includes{
    width: 100%;
    color: white;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
}
.card .includes .includedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.card .includes .includedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .includes .includedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}
.card .includes li{
    position: relative;
    font-size: 16px;
}


.card .excludes{
    width: 100%;
    color: white;
    font-weight: 550;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.card .excludes .excludedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;

    display: none;
}
.card .excludes .excludedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .excludes .excludedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}

.card .excludes li{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    position: relative;
    font-size: 16px;
}

.card .cta{
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-weight: 650;
    text-align: center;
    padding: 12px;
    font-size: 18x;
    position: relative;
    z-index: 2;
    cursor: pointer;
}


.backgroundInactiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
.backgroundInactiv p{
    color: white;
    font-weight: 650;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}

@media(min-width:1000px){
    .infoPachete{
        width: max-content;
        padding: 12px;
    }
    .containerPachete{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 96%;
        align-items: center;
        gap: 44px;
        margin-top: 24px;
    }
    .card{
        width: 100%;
    }
}