.sectionProcess{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    margin-bottom: 32px;
    overflow: hidden;
    padding-bottom: 12px;
}

.sectionProcess .titlu{
    width: 90%;
    font-weight: 750;
    font-size: clamp(24px,3vw,32px);
    color: white;
    text-align: center;
    transform: translateY(25%);
    opacity: 0;
    transition: all 450ms ease-in-out;
}
.sectionProcess .titlu.show{
    transform: translateY(0);
    opacity: 1;
}

.sectionProcess .containerProcess{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.cardProcess{
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--CardColor);
    display: grid;
    grid-template-columns: 60px 1fr;
    color: white;
    row-gap: 16px;
    overflow: hidden;
    opacity: 0;
    transition: all 350ms ease-in-out;
}
.cardProcess:hover{
    box-shadow: 0 0 12.5px var(--mainColor);
    scale: 1.01;
}
.cardProcess:nth-of-type(odd) {
    transform: translateX(-20%);
}

.cardProcess:nth-of-type(even) {
    transform: translateX(20%);
}
.cardProcess.show{
    transform: translateX(0);
    opacity: 1;
}
.circle{
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    width: 100%;
    font-size: 32px;
    height: 72px;
    background-color: var(--mainColor);
    margin-top: -12px;
    margin-left: -12px;
    border-bottom-right-radius: 32px;
    font-weight: 750;
}
.headingCard{
    grid-column: 2/3;
    width: 100%;
    margin-top: -8px;
    font-size: 20px;
    font-weight: 650;
    display: flex;
    align-items: center;
}
.description{
    grid-column: 1/3;
}

.cardProcess .containerImage{
    position: relative;
    width: 100%;
    height:auto;
    max-height: 500px;
    grid-column: 1/3;
    border-radius: 6px;
    overflow: hidden;
}
.cardProcess .containerImage img{
    width: 100%;
}
@media(min-width:700px){
    .sectionProcess .containerProcess{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
    .cardProcess{
        max-width:47%;  
    }
    .cardProcess:nth-of-type(odd) {
        transform: translateY(40);
    }

    .cardProcess:nth-of-type(even) {
        transform: translateY(40);
    }
    .sectionProcess .titlu{
        margin-bottom: 20px;
    }
    .cardProcess.show{
        transform: translateY(0);
    }
}

@media(min-width:1000px){
    .sectionProcess .containerProcess{
        row-gap: 40px;
    }
    .cardProcess{
        max-width: 30%;   
    }
}
