
.statsSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 10px;
    row-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
    margin: 36px 0;
    grid-row: 3;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--CardColor);
    border-radius: 12px;
    padding: 8px;
    position: relative;
    height: 200px;
    border: 1px solid var(--borderColor);
}

.icon{
    margin: auto;
    height: clamp(48px,5vw,60px);
    width: clamp(48px,5vw,60px);
}
.counter{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}
.counter .plus{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.titleCard{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

@media(min-width:700px){
    .statsSection{
        margin: auto;
        row-gap: 20px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        grid-column: 1/3;
        margin-top: 24px;
    }
}

/* Video */

.BodyVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    width: 100%;
    grid-column: 1/2;
    margin-bottom: 12px;
}
.videoContainer{
    width: 90%;
    margin: auto;
    height: 500px;
    position: relative;
    max-width: 500px;
    cursor: pointer;
}
@media(min-width:700px){
    .videoContainer{
        height: 600px;
    }
}
.videoContainer::before{
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
    z-index: 2;
    border-top: 3.5px solid var(--mainColor);
    border-right: 3.5px solid var(--mainColor);
    border-top-right-radius: 12px;
}
.videoContainer::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
    z-index: 2;
    border-bottom: 3.5px solid var(--mainColor);
    border-left: 3.5px solid var(--mainColor);
    border-bottom-left-radius: 12px;
}
.overlayVideo{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: all 250ms ease-in-out;
}
.overlayVideo .buttonPlay{
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    position: relative;
}