.testimonialeBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px 0;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 32px;
    width: 100%;
}
.testimonialeBody::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
 background: linear-gradient(120deg, #5ab3ff, #1e6dd9, #0a3d91);
  filter: blur(80px);
  opacity: 0.6;
  border-radius: 50%;
  z-index: -1;
}
.testimonialeBody .titlu{
    font-size: clamp(24px,3vw,32px);
    color: white;
    text-align: center;
    width: 90%;
    font-weight: 750;
    transform: translateY(35%);
    opacity: 0;
    transition: all 450ms ease-in-out;
}
.testimonialeBody .titlu.show{
    transform: translateY(0);
    opacity: 1;
}
.testimonialeBody .titlu strong{
    background: var(--gradientColor);
    padding: 3px;
    border-radius: 4px;
}
.containerTestimoniale{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}
.containerTestimoniale .card{
    width: 100%;
    height:auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(25%);
    opacity: 0;
    transition: all 450ms ease-in-out;
}
.containerTestimoniale .card.show{
    transform: translateY(0);
    opacity: 1;
}
.containerTestimonaile .card .image{
    object-fit: cover;
}   

.opacIcons{
    position: absolute;
    right: 4px;
    top: 20px;
    z-index: -1;
}
.opacIcons:nth-of-type(2){
    left:4px;
}

.bodyTestimoniale2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media(min-width:750px){
    .containerTestimoniale{
        display: grid;
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
    }
    .testimonialeBody .titlu{
        margin-bottom: 20px;
    }
}