
table {
  width: 100%;
  border-collapse: collapse;
  background: var(--CardColor);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  table-layout: fixed;
}

thead {
  background: var(--mainColor);
}

thead th {
  padding: 14px 20px;
  text-align: left;
  font-weight: 650;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.colID{
    width: 50px;
}


tbody tr {
  transition: background 0.2s ease;
  background-color: var(--borderColor);
}
tbody tr:nth-child(odd){
    background-color: var(--CardColor);
}

tbody tr:hover {
  background:rgb(88, 88, 88);
}

tbody td {
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 550;
  color: #ffffff;
  text-align: center;
}
.colID{
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
}
.colDate{
  width: 120px;
}
.colStripe{
    text-align: center;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colPrice{
    width: 100px;
}
.colClientCheck{
    width: 100px;
    text-align: right;
}
.colDetalii{
    width: 90px;
}



.containerFiltre{
  background-color: var(--CardColor);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
}

.containerFiltre select,
button,
input{
  background-color: var(--CardColor);
  border: 1.5px solid var(--borderColor);
  border-radius: 6px;
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.containerFiltre input:focus{
  outline: 1px solid var(--mainColor);
}

@media(max-width:649px){
  .containerFiltre{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
  .tableWrapper{
    overflow-x: scroll;
    border-radius: 12px;
    padding-bottom: 12px;
  }
  table {
    table-layout: auto;
  }
  .tableWrapper::-webkit-scrollbar {
  width: 10px;          
  }

  .tableWrapper::-webkit-scrollbar-track {
    background: var(--borderColor);       
    border-radius: 4px;
  }

  .tableWrapper::-webkit-scrollbar-thumb {
    background: var(--mainColor);  
    border-radius: 4px;
  }
}