.card{
  width:100%;
  border-radius: 12px;
  max-width: 390px;
  min-width: 390px;
  background-color: var(--CardColor);
  display: flex; 
  flex-direction: column;

  position: relative;
  border: 1px solid transparent;
  transition: all 250ms ease;
  max-height: 100%;
  min-height: 100%;
 
}
.contentWrapper{
  padding: 12px;
  display: flex; 
  flex-direction: column;
  overflow: hidden;
  gap: 0px;
  border-radius: 12px;
  padding-bottom: 20px;
  position: relative;
  border: 1px solid transparent;
  transition: all 250ms ease;
  height: 100%;
  z-index: 90;
  flex: 1;
}
.pachetInactiv{
    filter: grayscale(2) blur(1px);
}
.iconCard{
    width: max-content;
    position: relative;
    z-index: 2;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--CardColor);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-bottom: 12px;
}

/* Border colorat */
.contentWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; 
  background: linear-gradient(
      140deg,
      var(--glow-color, rgba(0,255,140,0.5)),
      transparent 60%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

/* Glow col»õuri */
.contentWrapper::after {
  content: "";
  position: absolute;
  inset: -40px;
  background:
    radial-gradient(40% 40% at top left,
      var(--glow-color, rgba(0,255,140,0.4)), transparent),
    radial-gradient(40% 40% at bottom right,
      var(--glow-color, rgba(0,255,140,0.4)), transparent);
  filter: blur(45px);
  z-index: 0;
  pointer-events: none;
}



.card .bestValue{
  --f: .5em; /* control the folded part */
  color: black;
  font-weight: 550;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
  transform-origin: 0% 100%;
background: linear-gradient(45deg, #ffd633, #ff9900);
  z-index: 99999;
}
.card .titlu{
    font-weight: 650;
    color: white;
    font-size: 24px;
    text-align: left;
    z-index: 9;
}
.card .pret{
    font-size: 28px;
    font-weight: 750;
    color: white;
    z-index: 2;
}
.card .durata{
    font-size: 20px;
    font-weight:600;
    color: white;
    z-index: 2;
}
.card .includes{
    width: 100%;
    color: white;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
    max-height: 200px;
    overflow: hidden;
}
.card .includes .includedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.card .includes .includedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .includes .includedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}
.card .includes li{
    position: relative;
    font-size: 16px;
    list-style-type: none;
}


.card .excludes{
    width: 100%;
    color: white;
    font-weight: 550;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    max-height: 150px;
    overflow: hidden;
}
.card .excludes .excludedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    display: none;
}
.card .excludes .excludedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .excludes .excludedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}

.card .excludes li{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    position: relative;
    font-size: 16px;
    list-style-type: none;
}

.card .cta{
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-weight: 650;
    text-align: center;
    padding: 12px;
    font-size: 18x;
    position: relative;
    z-index: 2;
    margin-top: auto;
    text-decoration: none;
}

.togglePachetActiv{
    border-radius: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}
.activ{
    background-color: rgb(0, 120, 0);
}   
.dezactivat{
    background-color: grey;
}
.backgroundInactiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}
.backgroundInactiv p{
    color: white;
    font-weight: 650;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}
