.sideBar{
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--CardColor);
    padding: 12px;
    justify-content: space-around;
}
.sideBar h2{
    margin-top: 8px;
    font-size: 24px;
    color: var(--mainColor);
}
.sideBar ul{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.sideBar ul li{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-size: 22px;
    text-align: center;
    padding: 8px;
}
.selectedPath{
  color: var(--mainColor);
}

.logoutBtn{
    background-color: red;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 6px;
    position: relative;
    margin-top: auto;
    cursor: pointer;
}


.headerAdmin{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--CardColor);
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  z-index: 9999;
  align-items: center;
}
.headerAdmin h3{
  font-size: 24px;
  color: var(--mainColor);
  font-weight: 750;
}
.box {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 6px;
    margin-right: 4px;
    z-index: 999;
    filter: none;
    cursor: pointer;
}

.line{
    background-color: white;
    height: 3px;
    border-radius: 50px;
    width: 100%;
    transition: all 0.4s ease-in-out;
    transform-origin: center;
}

/* X perfect */
.line:nth-child(1).cross {
    transform: translateY(9px) rotate(45deg);
}

.line:nth-child(2).cross {
    opacity: 0;
}

.line:nth-child(3).cross {
    transform: translateY(-9px) rotate(-45deg);
}
.dropDown{
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--CardColor);
  height: 0;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.4s ease-in-out;
}
.dropDown.droped{
    height: 290px;
    pointer-events:all;
}
.dropDown ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}
.dropDown ul li{
  list-style-type: none;
}
.logoutBtnDropDown{
  background-color: red;
  padding:4px 16px;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-top: 12px;
  margin-left: 12px;
}


@media(min-width:650px){
  .headerAdmin{
    display: none;
  }
}
@media(max-width:649px){
  .sideBar{
    display: none;
  }
}

/* Styles for Button */

.button{
    padding: 12px;
    border-radius: 12px;
    background-color: var(--CardColor);
    width: max-content;
    font-weight: 550;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 250ms ease;
    cursor: pointer;
    border: 1px solid var(--borderColor);
}
.button:hover{
    transform: translateY(-4px);
}
.button span{
    background-color: blue;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}


/* Styles for BodyModal */

.bodyModal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    opacity: 0;
  animation: overlayFadeIn 0.25s ease forwards;
}
@keyframes overlayFadeIn {
  to {
    opacity: 1;
  }
}
.bodyModal .close{
    position: absolute;
    top:12px;
    right: 12px;
    color: black;
    background-color: white;
    border-radius: 6px;
    font-size: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 250ms linear;
}
.bodyModal .close:hover{
    background-color:red;
    color: white;
}
.bodyModal .containerModal{
    background-color: var(--darkCard);
    width: 90%;
    max-width:var(--maxWidth);
    border-radius: 12px;
    height: 90%;
    overflow-y: auto;
    transform: translateY(100px);
  opacity: 0;
  animation: modalSlideUp 0.5s ease forwards;
}

@keyframes modalSlideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width:649px){
  .bodyModal .containerModal{
    margin-top: 40px;
  }
}

.containerButtons{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.buttonOrdine{
    background-color: var(--CardColor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: max-content;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid var(--borderColor);
    transition: transform 250ms ease;
}
.buttonOrdine:hover{
    transform: translateY(-4px);
}


.containerProduse{
    display: flex;
    gap: 24px;
    width:100%;
    padding: 8px;
    padding-left: 0px;
    padding-bottom: 20px;
    overflow-x: auto !important;
}
.containerProduse::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.containerProduse::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 2px;
}

.containerProduse::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 2px;
  transition: background 0.3s ease;
}


/* Modal Ordine Styles  */

.modalOrdine{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeModalOrdine{
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: black;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.containerOrdine{
    background-color: var(--CardColor);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--borderColor);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    gap: 12px;
    position: relative;
}
.setOrdine{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--borderColor);
    border: 1px solid var(--mainColor);
    cursor: pointer;
    transition: 250ms ease;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}
.setOrdine:hover{
    transform: translateY(-4px);
}

.contentOrdine {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 90%;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}
.contentOrdine::-webkit-scrollbar {
  width: 10px;          
}

.contentOrdine::-webkit-scrollbar-track {
  background: var(--borderColor);       
  border-radius: 4px;
}

.contentOrdine::-webkit-scrollbar-thumb {
  background: var(--mainColor);  
  border-radius: 4px;
}

.itemOrdine {
  cursor: grab;
  transition: all 0.2s ease;
  height: 100%;
}


.itemOrdine:hover {
  transform: scale(1.005);
}

.itemOrdine:active {
  cursor: grabbing;
  transform: scale(1.03);
}

.containerOrdine::-webkit-scrollbar {
  width: 10px;
}

.containerOrdine::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 10px;
}

.containerOrdine::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.containerOrdine::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Animatie ușoară */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Design pentru Dummy Card  */

.card{
  width:100%;
  border-radius: 12px;
  max-width: 390px;
  min-width: 390px;
  background-color: var(--CardColor);
  display: flex; 
  flex-direction: column;
  position: relative;
  transition: all 250ms ease;
  cursor: pointer;
  margin-left: 12px;
}
.contentWrapper{
  padding: 12px;
  display: flex; 
  flex-direction: column;
 overflow: hidden;
  gap: 0px;
  border-radius: 12px;
  padding-bottom: 20px;
  position: relative;
  transition: all 250ms ease;
  height: 100%;
  z-index: 90;
  overflow-y: auto;
}
.contentWrapper::-webkit-scrollbar {
  width: 6px;          
}

.contentWrapper::-webkit-scrollbar-track {
  background: var(--borderColor);  
  margin-left: 12px;        
  border-radius: 3px;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background: grey;  
  border-radius: 10px;
}
.contentWrapper
.pachetInactiv{
    filter: grayscale(2) blur(1px);
}
.card:hover{
    box-shadow: 0 0 15px var(--glow-color);
    border: none;
}
.iconCard{
    width: max-content;
    position: relative;
    z-index: 2;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--CardColor);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-bottom: 12px;
}

/* Border colorat */
.contentWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; 
  background: linear-gradient(
      140deg,
      var(--glow-color, rgba(0,255,140,0.5)),
      transparent 60%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

/* Glow colțuri */
.contentWrapper::after {
  content: "";
  position: absolute;
  inset: -40px;
  background:
    radial-gradient(40% 40% at top left,
      var(--glow-color, rgba(0,255,140,0.4)), transparent),
    radial-gradient(40% 40% at bottom right,
      var(--glow-color, rgba(0,255,140,0.4)), transparent);
  filter: blur(45px);
  z-index: 0;
  pointer-events: none;
}


.card .bestValue{
  --f: .5em; /* control the folded part */
  color: black;
  font-weight: 550;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
  transform-origin: 0% 100%;
background: linear-gradient(45deg, #ffd633, #ff9900);
  z-index: 99;
}
.card .titlu{
    font-weight: 650;
    color: white;
    font-size: 24px;
    text-align: left;
    z-index: 9;
}
.card .pret{
    font-size: 28px;
    font-weight: 750;
    color: white;
    z-index: 2;
}
.card .durata{
    font-size: 20px;
    font-weight:600;
    color: white;
    z-index: 2;
}
.card .includes{
    width: 100%;
    color: white;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
}
.card .includes .includedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.card .includes .includedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .includes .includedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}
.card .includes li{
    position: relative;
    font-size: 16px;
    list-style-type: none;
}


.card .excludes{
    width: 100%;
    color: white;
    font-weight: 550;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.card .excludes .excludedTitle{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    display: none;
}
.card .excludes .excludedTitle::before{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 0%;
    transition: translateY(-50%);
}
.card .excludes .excludedTitle::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    background-color: grey;
    top: 50%;
    right: 0%;
    transition: translateY(-50%);
}

.card .excludes li{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    position: relative;
    font-size: 16px;
    list-style-type: none;
}

.card .cta{
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-weight: 650;
    text-align: center;
    padding: 12px;
    font-size: 18x;
    position: relative;
    z-index: 2;
    margin-top: auto;
    text-decoration: none;
}

.togglePachetActiv{
    border-radius: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}
.activ{
    background-color: rgb(0, 120, 0);
}   
.dezactivat{
    background-color: grey;
}
.backgroundInactiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}
.backgroundInactiv p{
    color: white;
    font-weight: 650;
    font-size: 32px;
    text-align: center;
    z-index: 2;
}



@media(max-width:649px){
  .containerProduse{
    flex-direction: column;
    width: 100%;
    overflow: hidden !important;
    padding: 0;
  }
  .card{
    width:100%;
    border-radius: 12px;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .containerButtons{
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  

.modalOrdine{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeModalOrdine{
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: black;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.containerOrdine{
    background-color: var(--CardColor);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--borderColor);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    gap: 12px;
    margin-top: 40px;
    position: relative;
}
.setOrdine{
    position: relative;
    top: 12px;
    right: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--borderColor);
    border: 1px solid var(--mainColor);
    cursor: pointer;
    transition: 250ms ease;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}
.setOrdine:hover{
    transform: translateY(-4px);
}

.contentOrdine {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 90%;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}
.contentOrdine::-webkit-scrollbar {
  width: 10px;          
}

.contentOrdine::-webkit-scrollbar-track {
  background: var(--borderColor);       
  border-radius: 4px;
}

.contentOrdine::-webkit-scrollbar-thumb {
  background: var(--mainColor);  
  border-radius: 4px;
}
}