
.modalCheckOut{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999999999999999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: opacity 500ms ease;
}
.visible{
    opacity: 1;
}

.checkoutSection{
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: black;
  transition: all 500ms ease-in-out;
  transform: translateY(100%);
  overflow-y: scroll;
}
.checkoutSection::-webkit-scrollbar {
  display: none;
}

.slide{
    transform: translateY(0);
}
.closeModal{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color:white;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease;
}
.closeModal:hover{
  transform: translateY(4px);
}
.checkoutSection::after {
  content: "";
  position: absolute;
  inset: -40px;
  background:
    radial-gradient(35% 35% at top left,
      var(--glow-color, rgba(0, 187, 255, 0.4)), transparent),
    radial-gradient(35% 35% at bottom right,
      var(--glow-color, rgba(0, 187, 255, 0.4)), transparent);
  filter: blur(45px);
  z-index: 0;
  pointer-events: none;
}


.checkoutSection h4{
  color: white;
  font-size: clamp(24px,3vw,32px);
  text-align: center;
  font-weight: 750;
  margin-top: 16px;
  position: relative;
  z-index: 1;
  max-width: 90%;
  line-height: 1.25;
  margin-bottom: 8px;
}
.amount{
    color: white;
    font-size: 24px;
    font-weight: 650;
    position: relative;
    z-index: 2;
}

.infoModal{
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 12px;
  margin: auto;
  color: white;
  width: 100%;
  height: fit-content;
  max-width: 600px;
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 650;
  align-items: center;
}

.durataContainer{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.durataContainer .label{
  font-size: clamp(22px,2vw,24px);
    font-weight: 650;
}
.durataContainer .key{
  font-size: clamp(18px,2vw,22px);
  font-weight: 650;
}


.pretPachet{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  z-index: 2;
  margin: 12px 0;
}
.pretPachet .label{
 font-size: clamp(22px,2vw,24px);
    font-weight: 650;
}
.pretPachet .key{
  font-size: clamp(18px,2vw,22px);
  font-weight: 650;
}

.includeContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 100%;
    width: 100%;
    height: 100%;
    min-height:fit-content;
    color: white;
    padding: 12px;
    position: relative;
    z-index: 1;
}
.includeContainer p{
    font-size: clamp(22px,2vw,24px);
    font-weight: 650;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
  font-size: 18px;
  grid-column: 1/3;
}

@media(min-width:750px){
  .includeContainer{
    margin-left: 12px;
  }
}