*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: var(--font-open-sans);
}

:root {
  --mainColor: rgb(0, 157, 255); 

  --darkCard: rgb(18, 18, 18);

  --CardColor: rgb(26, 26, 26);
  --borderColor:rgb(51, 51, 51);

  --mainColorDark: rgb(0, 130, 210);
}

body{
    height:auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100dvh;
}
.adminBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h4{
    font-size: 24px;
    margin-bottom: 20px;
}
form{
    width: 90%;
    max-width: 600px;
    background-color: var(--CardColor);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}
.formWrapper label{
    font-size: 20px;
    font-weight: 600;
}
.formWrapper input{
    background-color: var(--borderColor);
    border: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
}
.formWrapper input:focus{
    outline: 1px solid var(--mainColor);
}
.inputWrapper{
     position: relative;
     width: 100%;
}
.inputWrapper input{
    width: 100%;
}
.formWrapper .showBtn{
    position: absolute;
    top: 0%;
    right: 6px;
    height: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.error{
    color: rgb(251, 251, 251);
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
    padding: 6px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
#submitBTN{
    width: 100%;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 6px;
    background-color: var(--mainColor);
    border: none;
    cursor: pointer;
}
#submitBTN:hover{
    background-color: var(--mainColorDark);
}