*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: var(--font-open-sans);
}
:root {
  --mainColor: rgb(0, 157, 255); 

  --darkCard: rgb(18, 18, 18);

  --CardColor: rgb(26, 26, 26);
  --borderColor:rgb(51, 51, 51);

  --mainColorDark: rgb(0, 130, 210);
}
body{
  background-color: black;
  position: relative;
}
.containerCheckOut{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin-bottom: 40px;
  position: relative;
}
h1{
  color: white;
}
  .titleContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.subTitile{
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 40px;
}
.subTitile h3{
  color: white;
  font-weight: 600;
}
.subTitile h3 span{
  color: #635BFF;
}

.divider{
  border: none;
  border-bottom: 1px solid var(--borderColor);
  margin: 12px 0;
  width: 100%;
}
.dividerMain {
  border: none;
  border-bottom: 1px solid var(--borderColor);
  margin: 24px 0;
  width: 100%;
}

.containerComanda{
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--CardColor);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.containerComanda h4{
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2b2b2b;
}

.order-card {
  border-radius: 14px;
  color: white;
}

/* Titlu + pre»õ */
.order-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.order-title {
  font-weight: 600;
  font-size: 1.05rem;
}

.order-price {
  font-weight: 700;
  font-size: 1.05rem;
  color: #fff;
  text-align: right;
}

/* Include */
.order-includes {
  margin-top: 16px;
  padding: 6px;
}

.includes-label {
  font-size: 1.05rem;
  color: #ffffff;
  margin-bottom: 6px;
  font-weight: 600;
}

.order-includes ul {
  margin: 0;
  padding-left: 16px;
}

.order-includes li {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 4px;
  color: #ddd;
  list-style-type: none;
}

.error-state {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    text-align: center;
}

.error-card {
    background:var(--CardColor);
    border: 1px solid var(--borderColor);
    padding: 40px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.error-icon {
    margin-bottom: 20px;
}

.error-card h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 12px;
}

.error-card p {
    color: #a2a2a2;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.btn-back {
    display: inline-block;
    background: var(--mainColor); 
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s ease;
}

/* Total */
.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 14px;
  border-top: 1px solid #2b2b2b;
  font-weight: 700;
  font-size: 20px;
}

.containerInformatiiPersonale{
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--CardColor);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.containerInformatiiPersonale h4{
  grid-column: 1/3;
  color: white;
  font-size: 20px;
  margin-bottom: 4px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2b2b2b;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
}
form .formWrapper{
  grid-column: 1/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
form .formWrapper label{
  color: white;
  font-weight: 650;
}
form .formWrapper input{
  padding: 14px;
  border-radius: 10px;
  border: none;
  color: white;
  border: 1px solid #2A2A2D;
  background-color: #1A1A1D;
  box-shadow: 0 0 5px black;
}


.telefonInput .PhoneInputCountrySelectArrow {
  color: white;
  opacity: 0.7;
  border-color: white;
}




form .formWrapper input:focus{
  outline: 1.5px solid var(--mainColor);
}

.containerInfoCard{
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--CardColor);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.containerInfoCard h4{
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2b2b2b;
}

.containerExpressCheckout{
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--CardColor);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.containerExpressCheckout h4{
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2b2b2b;
}

.containerButtons{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 32px;
}
.backBtn{
  background-color:rgba(0, 157, 255, 0.25);
  border: 1px solid var(--mainColor);
  width: 100%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 20px;
  font-weight: 750;
  text-align: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: transform 250ms ease;
  border: none;
  height: 50px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media(min-width:1000px){
  .containerCheckOut{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 80px;
    row-gap: 0;
  }
  .titleContainer{
    grid-column: 1/3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dividerMain{
    display: none;
  }
}