
.loaderContainerCheckout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 15px;
  color: #666; 
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%,-50%);
}

.loaderCheckout {
  width: 50px;
  height: 50px;
  border: 5px dotted #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 