

.container{
    width: 100%;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    position: relative;
}
.containerAchizitie{
    width: 100%;
    max-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    position: relative;
}
.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 2px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 2px;
}

.clientContactat{
    padding: 8px;
    border-radius: 6px;
    height: 36px;
    position: absolute;
    top: 12px;
    right: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.contactat{
    background-color: #133A1A;
    color: #4ADE80;
}
.necontactat{
    background-color: #3A0E0E;
    color: #F87171;
}
.clientContactat div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.observatiiContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.observatiiContainer .value {
    display: block;      
    width: 100%;              
    max-width: 500px;     
    padding: 6px;
    border-radius: 6px;
    color: white;
    white-space: normal;       
    word-wrap: break-word;   
}

.statusBadge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
  border-radius:6px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 12px;
  right:12px;
  height: 36px;
}

.statusSuccess {
  background-color: #e6f9f0;
  color: #0f766e;
  border: 1px solid #6ee7b7;
}

.statusFailed {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fca5a5;
}


.container h4{
    font-size: 28px;
    grid-column: 1/4;
}
.container section{
    background-color: var(--borderColor);
    padding: 6px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sectionDetaliiPlata{
    grid-column: 1/2;
}

.cardContine{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.cardContine .label{
    font-size: 20px;
    margin-left: -8px;
}
.cardContine ul li{
    list-style-type: none;
}
.label{
    font-weight: 650;
}
.container section h5{
    font-size: 20px;
    grid-column: 1/3;
}
.buttonSetContact{
    grid-column: -1/1;
    font-size: 22px;
    font-weight: 600;
    background-color:rgba(0, 0, 0, 0);
    width: max-content;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--CardColor);
    border: 1px solid var(--borderColor);
    cursor: pointer;
    color: rgb(229, 229, 229);
}
.clientContactatCheck{
    background-color: #133A1A;
    color: #4ADE80;
    pointer-events: none;
    border: none;
}

.bodyPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
.showPopUp{
    display: flex;
}
.bodyPopUp h4{
    font-size: 26px;
    text-align: center;
}
.bodyPopUp form{
    width: 600px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--CardColor);
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
.bodyPopUp form label{
        font-size: 20px;
        font-family: 600;
}
.bodyPopUp form textarea{
    width: 100%;
    background-color: grey;
    border-radius: 6px;
    padding: 6px;
    margin: 4px 0;
    color: white;
}
.bodyPopUp form textarea:focus{
    outline: 1px solid var(--mainColor);
}
.footerPopUp{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.cancel{
    background-color: var(--CardColor);
    border: 2px solid var(--borderColor);
    font-size: 20px;
    font-weight: 400;
    width: max-content;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.bodyPopUp form input[type="submit"]{
    font-size: 20px;
    font-weight: 600;
    background-color:rgba(0, 0, 0, 0);
    width: max-content;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #133A1A;
    color: #4ADE80;
    border: none;
}

@media(max-width:649px){
    .statusBadge{
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 12px;
    }
}