

.container{
    width: 100%;
    max-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 2px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 2px;
}
.badgeclient{
    position: absolute;
    top: 8px;
    right: 8px;
}
.badgeclient div{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
}
.badgeSuccess{
    background-color: rgba(62, 207, 142, 0.1);
    color: #3ecf8e; 
    border: 1px solid rgba(62, 207, 142, 0.2);
}
.badgeError{
    background-color: rgba(248, 113, 113, 0.1);
    color: #f87171;
    border: 1px solid rgba(248, 113, 113, 0.2);
}




.container h4{
    font-size: 28px;
    grid-column: 1/3;
}
.container section{
    background-color: var(--borderColor);
    padding: 6px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}


.cardContine{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.cardContine .label{
    font-size: 20px;
    margin-left: -8px;
}
.cardContine ul li{
    list-style-type: none;
}
.label{
    font-weight: 650;
}
.container section h5{
    font-size: 20px;
    grid-column: 1/3;
}
.buttonSetContact{
    grid-column: -1/1;
    font-size: 22px;
    font-weight: 600;
    background-color:rgba(0, 0, 0, 0);
    width: max-content;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--CardColor);
    border: 1px solid var(--borderColor);
    cursor: pointer;
    color: rgb(229, 229, 229);
}
.clientContactatCheck{
    background-color: #133A1A;
    color: #4ADE80;
    pointer-events: none;
    border: none;
}

.clientContactForm{
    background-color: var(--borderColor);
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 6px;
    border-radius: 12px;
}
.clientContactForm h6{
    font-size: 20px;
}
.clientContactForm form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 4px;
}
.clientContactForm form textarea{
    background-color: var(--borderColor);
    border-radius: 4px;
    padding: 4px;
    color: white;
}
.clientContactForm form input[type="submit"]{
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    background-color: rgba(56, 189, 248, 0.1);
    color: var(--mainColor); 
    border: 1px solid rgba(56, 189, 248, 0.2);
    font-weight: 750;
    cursor: pointer;
    margin-top: 4px;
}
.clientContactForm form textarea:focus{
    outline: 1px solid var(--mainColor);
}
.clientContactForm form div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.clientContactForm form div label{
    font-weight: 600;
}



.bodyPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
.showPopUp{
    display: flex;
}
.bodyPopUp h4{
    font-size: 26px;
    text-align: center;
}
.bodyPopUp form{
    width: 600px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--CardColor);
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
.bodyPopUp form label{
    font-size: 20px;
    font-family: 600;
}
.bodyPopUp form textarea{
    width: 100%;
    background-color: grey;
    border-radius: 6px;
    padding: 6px;
    margin: 4px 0;
    color: white;
}
.bodyPopUp form textarea:focus{
    outline: 1px solid var(--mainColor);
}
.footerPopUp{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.cancel{
    background-color: var(--CardColor);
    border: 2px solid var(--borderColor);
    font-size: 20px;
    font-weight: 400;
    width: max-content;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.bodyPopUp form input[type="submit"]{
    font-size: 20px;
    font-weight: 600;
    background-color:rgba(0, 0, 0, 0);
    width: max-content;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #133A1A;
    color: #4ADE80;
    border: none;
}

@media(max-width:649px){
    .container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-height: 90dvh !important;
        overflow-y: scroll;
    }
    .badgeclient{
        position: relative;
    }
    .badgeclient div{
        display: flex;
        align-items: center;
        width: max-content;
        padding: 8px;
        border-radius: 6px;
        font-weight: 600;
        margin-left: 6px;
        margin-top: -16px;
        margin-bottom: 12px;
    }
}